*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: transparent;
  padding-right: 5%;
  padding-left: 5%;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.logo{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;

}
.logo a{
  color: white;
  text-decoration: none;
}

.links{
  display: flex;
  background-color: transparent;
  justify-content: space-around;
  width: 40%;
  align-items: center;
  padding-top: 1.5%;
}
.links a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 14px;
}
.links a
{
    position: relative;
}

.links a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.links a:hover:before {
  visibility: visible;
  width: 100%;
}
.links li{
  list-style: none;
}
.burger{
  display: none;
  cursor: pointer;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition:  all 0.3s ease;
}

@media screen and (max-width: 1024px){
  .links{
    width: 50%;
  }
}

@media screen and (max-width: 800px){
  body{
    overflow-x: hidden;
  }
  .links{
    position: absolute;
    right: 0px;
    top: 8vh;
    background-color: blueviolet;
    height: 92vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }

  #Skills .card-body ul{
    flex-direction: column;
    align-items: center;
  }
  #Skills .card-body li{
    padding-bottom: 2%;
  }
}
.navActive{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}
body{
    font-family: 'Open Sans', sans-serif;
}
body, html {
    height: 100%;
    margin: 0;
  }

#profile-img{
    height: 600px;
}
#front-page {
    background-image: 
    /* top, transparent red */
    linear-gradient(
      rgba(132, 21, 206, 0.843), 
      rgba(198, 73, 243, 0.45)
    ),
    url(../pexels-michaela-295826.jpg);
    background-repeat: no-repeat;
    background-size: contain;
     /* Full height */
    height: 100%; 
  z-index: -1;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sticky
{
 position: fixed;
  top: 0;
  width: 100%;
}
#title{
    font-size: 2em;
    font: bolder;
}

  #About{
      padding-top: 5%;
      padding-bottom: 5%;
  }

.slide {
    animation-duration: 3s;
    animation-name: slidein;
    padding-top: 35%;
  }
  
  @keyframes slidein {
    from {
      padding-top: 40%;
      opacity: 0;
    }
  
    to {
      padding-top: 35%;
      opacity: 1;
    }
  }
.row{
  z-index: -1000;
  display: flex;
  justify-content: space-evenly;
}
.card{
  margin-bottom: 5%;
  z-index: -1000;
}
.badge-pill {
  background-color: transparent;
  border-color: white;
  border-width: thick;
  width:250px;
  height: 50px;
  color: white;
}
.badge-pill:hover{
  color: blueviolet;
  border-color: blueviolet;
}
.grid-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.img-fluid{
  width: 80%;
  height: auto;
  margin-left: 5%;
}
.card ul{
  margin-left: 5%;
  margin-right: 5%;
}
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s 2;
  -webkit-animation: bounce 2s 2;
  animation: bounce 2s 2;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#Skills .card-body ul{
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
}
#Skills .card-body li{
  list-style: none;
}